{% extends 'layout.html' %}

{% block title %} وبلاک | ابزار هوش {% endblock %}

{% block content %}
<section class="sub-banner01 banner-top02 position-relative float-start w-100">
    <div class="container">
        <h2 class="text-center text-white">وبلاک</h2>
        <nav>
            <ol class="breadcrumb justify-content-center mt-4">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">وبلاک</li>
            </ol>
        </nav>
    </div>
</section>
<section class="contact-us-page d-inline-block w-100 my-5">
    <div class="container">
        <div class="container">
            <div class="list-group">
            {% for  topic in topics %}
                <a href="/blog/{{ topic.id }}" class="list-group-item list-group-item-action " aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ topic.title}}</h5>
                    <small>{{ topic.timestamp}}</small>
                  </div>
                  <p class="mb-1">{{ topic.text}}</p>
                </a>
                {% endfor %}
              </div>
        </div>
    </div>
</section>

{% endblock %}