{% extends 'layout.html' %}

{% block title %} وبلاک | ابزار هوش {% endblock %}

{% block content %}
<section class="sub-banner01 banner-top02 position-relative float-start w-100">
    <div class="container">
        <h2 class="text-center text-white">{{ topic.title}}</h2>
        <nav>
            <ol class="breadcrumb justify-content-center mt-4">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">وبلاک</li>
            </ol>
        </nav>
    </div>
</section>
<section class="contact-us-page d-inline-block w-100 my-5">
    <div class="container">
        <div class="container">
                    <imag src="{{topic.image}}">
                  </div>
                  <p class="mb-1 text-white">{{ topic.text}}</p>
                </a>
              </div>
        </div>
    </div>
</section>

{% endblock %}