{% extends 'layout.html' %}

{% block title %} Home | ابزار هوش {% endblock %}

{% block content %}
<section class="sub-banner01 banner-top02 position-relative float-start w-100">
    <div class="container">
        <h2 class="text-center text-white">به حساب کاربری خوش آمدید</h2>
    </div>
</section>
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.css" />


<section class="whate-do d-inline-block w-100">
    <div class="container">
        <h2 class="text-center main-head-text text-white mt-3">سرویس ها</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-5 mt-4">
            <div class="col">
                <div class="items-servics d-inline-block w-100">
                    <figure></figure>
                    <h5> تشخیص دادن چهره</h5>
                    <p> این سرویس میتوان برای شما از تشخیص چهره میتوانه سن شما رو تشخیص بدهد</p>
                    <a href="service/detect-age-gender" class="btn btn-blogs stretched-link"> یزن بریم
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="items-servics d-inline-block w-100">
                    <figure></figure>
                    <h5> حساب کردن bmr</h5>
                    <p>این سرویس میتواند برای شما bmr محاسب کرده</p>
                    <a href="service/BMR" class="btn btn-blogs stretched-link"> بزن بریم
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="items-servics d-inline-block w-100">
                    <figure></figure>
                    <h5> تشخیص حرکت بدن </h5>
                    <p>در این سرویس با استفاده از mediapipe میتواند حرکت های بدن تشخیص بدهد</p>
                    <a href="service/mediapipe" class="btn btn-blogs stretched-link"> بزن بریم
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-section d-inline-block w-100">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2 align-items-center g-5">
            <div class="col">
                <div class="carousel-container">
                    <!-- Carousel wrapper -->
                    <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
                        <div class="carousel-inner">
                            {% for comment in comments %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-lg-8">
                                        <h5 class="text-white">{{ comment.username }}</h5>
                                        <div>{{ comment.content | safe }}</div>



                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
                            data-mdb-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
                            data-mdb-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <h2 class="main-head-text text-white mt-3">ثبت کامنت جدید</h2>
                <form method="post" action="service/comment/add-new-comment">
                    <br>
                    <div class="form-group">
                        <textarea id="editor" class="form-control" name="text" placeholder="کامنت خود را بنویسید"></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">ارسال کردن</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="../static/js/mdb.min.js"></script>
<script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.1/"
        }
    }
</script>
<script type="module">
    import {
        ClassicEditor,
        Essentials,
        Bold,
        Italic,
        Font,
        Paragraph
    } from 'ckeditor5';

    ClassicEditor
        .create( document.querySelector( '#editor' ), {
            plugins: [ Essentials, Bold, Italic, Font, Paragraph ],
            toolbar: {
                items: [
                    'undo', 'redo', '|', 'bold', 'italic', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
                ]
            }
        } )
        .then( /* ... */ )
        .catch( /* ... */ );
</script>

{% endblock %}
