{% extends 'layout_admin.html' %}
{% block content %}
<div class="container mx-auto p-6">
    <h1 class="text-2xl font-bold mb-4">مدیریت بلاگ‌ها</h1>
  
    <div class="row gx-4">
        <div class="col-xxl-12">
            <div class="card">
                <div class="card-body">
                    <h3> کاربران</h3>

                    <div class="table-outer">
                        <div class="table-responsive">

                            <table class="table align-middle truncate">
                                <thead>
                                    <tr>
                                        <th>عنوان وبلاک</th>
                                        <th>متن وبلاک</th>
                                        <th>تاریخ ثبت شده</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for topic in topics %}
                                    <tr>
                                        <td>{{ topic.title }}</td>
                                        <td>{{ topic.text }}</td>
                                        <td>{{ topic.timestamp }}</td>
                                        <td>
                                            <form action="{{ url_for('del_blog', id=topic.id) }}" method="post">
                                                <button type="submit" class="btn btn-outline-danger">حذف</button>
                                            </form>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#editModal{{ topic.id }}">
                                                ویرایش
                                            </button>
                                            <!-- Modal ویرایش -->
                                            <div class="modal fade" id="editModal{{ topic.id }}" tabindex="-1"
                                                aria-labelledby="editModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editModalLabel">ویرایش بلاگ</h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form method="post" action="{{ url_for('edit_blog') }}">
                                                                <input type="hidden" name="id" value="{{ topic.id }}">
                                                                <div class="mb-3">
                                                                    <label for="editTitle{{ topic.id }}"
                                                                        class="form-label">عنوان وبلاک</label>
                                                                    <input type="text" name="title" class="form-control"
                                                                        id="editTitle{{ topic.id }}"
                                                                        value="{{ topic.title }}">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="editText{{ topic.id }}"
                                                                        class="form-label">متن وبلاک</label>
                                                                    <textarea name="text" class="form-control"
                                                                        id="editText{{ topic.id }}">{{ topic.text }}</textarea>
                                                                </div>
                                                                <button type="submit" class="btn btn-primary">ثبت
                                                                    تغییرات</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    <br>
                    <button type="button" class="btn btn-outline-success mb-4" data-bs-toggle="modal" data-bs-target="#addModal">
                        ادکردن وبلاک
                    </button>
                    <!-- Modal اضافه کردن -->
                    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addModalLabel">ادکردن وبلاک</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="admin/blog/add-new-blog">
                                        <div class="mb-3">
                                            <label for="addTitle" class="form-label">عنوان وبلاک</label>
                                            <input type="text" name="title" class="form-control" id="addTitle">
                                        </div>
                                        <div class="mb-3">
                                            <label for="addText" class="form-label">متن وبلاک</label>
                                            <textarea name="text" class="form-control" id="addText"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">ارسال کردن</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</div>


{% endblock %}







