<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>داشبورد مدریت وبسایت دستیار هوش</title>

    <meta name="description" content="Marketplace for Bootstrap Admin Dashboards" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="canonical" href="https://www.bootstrap.gallery/">
    <meta property="og:url" content="https://www.bootstrap.gallery">
    <meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Bootstrap Gallery">
    <link rel="shortcut icon" href="static/images/favicon.svg" />

    <link rel="stylesheet" href="static/fonts/bootstrap/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="static/css/main.min.css" />
    <link rel="stylesheet" href="static/vendor/overlay-scroll/OverlayScrollbars.min.css" />
</head>

<body>
    <div class="page-wrapper">
        <div class="main-container">
            <nav id="sidebar" class="sidebar-wrapper">
                <div class="app-brand p-3 my-2">
                    <p> وبسایت دستیار هوش</p>
                </div>
                <div class="sidebarMenuScroll">
                    <ul class="sidebar-menu">
                        <li class="active current-page">
                            <a href="/admin">
                                <i class="bi bi-bar-chart-line"></i>
                                <span class="menu-text">خانه</span>
                            </a>
                        </li>
                        <li>
                            <a href="admin_users">
                                <i class="bi bi-shop-window"></i>
                                <span class="menu-text">کاربران</span>
                            </a>
                        </li>
                </div>
            </nav>
            <div class="app-container">
                <div class="app-header d-flex align-items-center">
                    <div class="d-flex">
                        <button class="toggle-sidebar">
                            <i class="bi bi-list lh-1"></i>
                        </button>
                        <button class="pin-sidebar">
                            <i class="bi bi-list lh-1"></i>
                        </button>
                    </div>
                    <h5 class="m-0 ms-2 fw-semibold">داشبورد مدریت وبسایت دستیار هوش</h5>
                    <div class="header-actions">
                        <div class="search-container d-xl-block d-none me-3">
                            <input type="text" class="form-control" id="searchData" placeholder="جستجو" />
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                </div>
            </div>
        <div class="app-body">

          <!-- Row starts -->
          <div class="row gx-4">
            <div class="col-xxl-3 col-sm-6 col-12">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="p-1 border border-primary rounded-circle me-3">
                      <div id="radial1"></div>
                    </div>
                  
                  </div>
                  <div class="d-flex align-items-center justify-content-between mt-1">
                    <a class="text-primary" href="javascript:void(0);">
                      <span>View All</span>
                      <i class="bi bi-arrow-right ms-2"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-3 col-sm-6 col-12">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="p-1 border border-success rounded-circle me-3">
                      <div id="radial2"></div>
                    </div>
                    <div class="d-flex flex-column">
                      <h2 class="lh-1">3  عدد </h2> 
                      <p class="m-0 opacity-50">تعداد محصولات در سایت </p>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mt-1">
                    <a class="text-primary" href="javascript:void(0);">
                      <span>View All</span>
                      <i class="bi bi-arrow-right ms-2"></i>
                    </a>
                    <div class="text-end">
                      <p class="mb-0 text-success">+30%</p>
                      <span class="badge bg-success-subtle text-success small">this month</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
          <!-- Row ends -->

          <!-- Row starts -->


          <!-- Row starts -->
          <div class="row gx-4">
            <div class="col-xxl-12">
              <div class="card">
                <div class="card-body">
                  <h3> سرویس ها</h3>

                  <div class="table-outer">
                    <div class="table-responsive">

                      <table class="table align-middle truncate">
                        <thead>
                        <tr>
                           
                            <th>نام</th>
                            <th>توضیحات</th>
                            <th> </th>
                            <th> </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div class="d-flex flex-row align-items-center">
                                <img src="" class="img-5x rounded-2" alt="Google Admin" />
                                <div class="d-flex flex-column ms-3">
                                  <p class="m-0">تشخیص دادن چهره</p>
                                </div>
                              </div>
                            </td>
                            <td><span class="badge bg-success-subtle text-success">این سرویس میتوان برای شما از تشخیص چهره میتوانه سن شما رو تشخیص بدهد</span></td>
                            <td>
                           
                          <tr>
                            <td>
                              <div class="d-flex flex-row align-items-center">
                                <img src="" class="img-5x rounded-2" alt="Google Admin" />
                                <div class="d-flex flex-column ms-3">
                                  <p class="m-0">حساب کردن bmr</p>
                                </div>
                              </div>
                            </td>
                            <td><span class="badge bg-success-subtle text-success">این سرویس میتواند برای شما bmr محاسب کرده</span></td>
                          </tr>
                          <tr>
                            <td>
                              <div class="d-flex flex-row align-items-center">
                                <img src="" class="img-5x rounded-2" alt="Google Admin" />
                                <div class="d-flex flex-column ms-3">
                                  <p class="m-0">تشخیص حرکت بدن </p>
                                </div>
                              </div>
                            </td>
                            <td><span class="badge bg-success-subtle text-success">در این سرویس با استفاده از mediapipe میتواند حرکت های بدن تشخیص بدهد</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row ends -->

        </div>
        <!-- App body ends -->

        <!-- App footer starts -->
        <div class="app-footer">
          <span class="small">© Bootstrap Gallery 2024</span>
        </div>
        <!-- App footer ends -->

      </div>
      <!-- App container ends -->

    </div>
    <!-- Main container ends -->

  </div>
  <!-- Page wrapper ends -->

  <!-- *************
			************ JavaScript Files *************
		************* -->
  <!-- Required jQuery first, then Bootstrap Bundle JS -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/moment.min.js"></script>

  <!-- *************
			************ Vendor Js Files *************
		************* -->

  <!-- Overlay Scroll JS -->
  <script src="static/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
  <script src="static/vendor/overlay-scroll/custom-scrollbar.js"></script>

  <!-- Apex Charts -->
  <script src="static/vendor/apex/apexcharts.min.js"></script>
  <script src="static/vendor/apex/custom/analytics/stats.js"></script>
  <script src="static/vendor/apex/custom/analytics/sales.js"></script>
  <script src="static/vendor/apex/custom/analytics/views.js"></script>
  <script src="static/vendor/apex/custom/analytics/audiences.js"></script>

  <!-- Vector Maps -->
  <script src="static/vendor/jvectormap/jquery-jvectormap-2.0.5.min.js"></script>
  <script src="static/vendor/jvectormap/world-mill-en.js"></script>
  <script src="static/vendor/jvectormap/gdp-data.js"></script>
  <script src="static/vendor/jvectormap/continents-mill.js"></script>
  <script src="static/vendor/jvectormap/custom/world-map-markers4.js"></script>

  <!-- Rating -->
  <script src="static/vendor/rating/raty.js"></script>
  <script src="static/vendor/rating/raty-custom.js"></script>

  <!-- Custom JS files -->
  <script src="static/js/custom.js"></script>
</body>

</html>