<footer class="float-start w-100 footer-total-01">
    <div class="main-footer01 d-inline-block w-100 py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-5">
                <div class="col">
                    <div class="comon-footer-mns d-inline-block w-100">
                        <a href="#" class="foot-logo">
                            <h1 class="text-white">ابزار هوش</h1>
                        </a>
                        <p class="fo-text mt-5 col-lg-11">قدرت هوش مصنوعی در دستان تو
                        </p>

                    </div>
                </div>
                <div class="col">
                    <div class="comon-footer-mns d-inline-block w-100">
                        <h5>دسترسی سریع</h5>
                        <ul class="main-links mt-5">
                            <li class="d-flex align-items-center">
                                <a href="#">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                        </svg>
                                    </span>
                                    ورود به حساب کاربری
                                </a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a href="/register">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                        </svg>
                                    </span>
                                    ثبت نام
                                </a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a href="/logout">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                        </svg>
                                    </span>
                                   خورج از حساب کاربری
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-sm-flex coply align-items-center justify-content-between">
                <p></p>
                <ul>
                    <li>
                        <small>
                            &copy; Mohammad Nematizadeh <span id="year"></span>
                        </small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>