{% extends 'layout.html' %}

{% block title %} login | Face Analyez {% endblock %}

{% block content %}
<section class="sub-banner01 banner-top02 position-relative float-start w-100">
  <div class="container">
    <h2 class="text-center text-white">ورود به وبسایت ابزار هوش</h2>
  </div>
</section>
<section class="contact-us-page d-inline-block w-100 my-5">
  <div class="container">
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="row g-lg-5">
        <div class="col-lg-5 col-xl-4">
          <div class="cm-text-n" style="background:'{{ category }}';">
            <h1 class="text-white text-center">{{ message }}</h1>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="col-lg-7 col-xl-8">
          <div class="conatct-form-div mb-5 mt-5 mt-lg-0">
            <form method="post">
              <div class="row mt-4">
                <div class="col-lg-6">
                  <input type="password" name="password" class="form-control" placeholder="پسورد" required="">
                </div>
                <div class="col-lg-6">
                  <input type="text" name="username" class="form-control" placeholder="نام کاربری" required="">
                </div>
                <div class="col-lg-12">
                  <input type="submit" name="submit" class="btn subimt-message" value="وارد شوید">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
{% endblock %}