{% extends 'layout.html' %}

{% block title %} Home | ابزار هوش {% endblock %}

{% block content %}
<section class="sub-banner01 banner-top02 position-relative float-start w-100">
    <div class="container">
        <h2 class="text-center text-white">به حساب کاربری خوش آمدید</h2>
    </div>
</section>
<section class="whate-do d-inline-block w-100">
    <div class="container">
        <h2 class="text-center main-head-text text-white mt-3">سرویس ها</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-5 mt-4">
            <div class="col">
                <div class="items-servics d-inline-block w-100">
                    <figure>
                    </figure>
                    <h5> تشخیص دادن چهره</h5>
                    <p> این سرویس میتوان برای شما از تشخیص چهره میتوانه سن شما رو تشخیص بدهد</p>
                    <a href="/upload" class="btn btn-blogs stretched-link"> یزن بریم
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="items-servics d-inline-block w-100">
                    <figure>
                    </figure>
                    <h5> حساب کردن bmr</h5>
                    <p>این سرویس میتواند برای شما bmr محاسب کرده</p>
                    <a href="/BMR" class="btn btn-blogs stretched-link"> بزن بریم
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="items-servics d-inline-block w-100">
                    <figure>
                    </figure>
                    <h5> تشخیص حرکت بدن </h5>
                    <p>در این سرویس با استفاده از mediapipe میتواند حرکت های بدن تشخیص بدهد</p>
                    <a href="/mediapipe" class="btn btn-blogs stretched-link"> بزن بریم
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="items-servics d-inline-block w-100">
                    <figure>
                    </figure>
                    <h5>ذهن خوانی</h5>
                    <a href="/read-your-mind" class="btn btn-blogs stretched-link"> بزن بریم
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}