{% extends 'layout.html' %}

{% block title %} Upload file | Face Analyez {% endblock %}

{% block content %}

<section class="sub-banner01 banner-top02 position-relative float-start w-100">
	<div class="container">

		<h2 class="text-center text-white">آپلود فایل</h2>

	</div>
</section>

<style>
	#drop-area {
		border: 2px dashed #ccc;
		/* Dashed border with a light gray color */
		padding: 20px;
		/* Add padding for better visibility */
		text-align: center;
		/* Center text horizontally */
		cursor: pointer;
		/* Set cursor to pointer to indicate interaction */
	}
</style>
<section class="contact-us-page d-inline-block w-100 my-5">
	<div class="container">
		<div class="container">
			<div class="row g-lg-5">
				<div class="col-lg-5 col-xl-4">
					<div class="cm-text-n">
						{% with messages = get_flashed_messages(with_categories=True) %}
						{% if messages %}
						{% for category, message in messages %}
						<div class="row g-lg-5">
							<div class="col-lg-5 col-xl-4">
								<div class="cm-text-n" style="background:'{{ category }}';">
									<h1 class="text-white text-center">{{ message }}</h1>
								</div>
							</div>
							{% endfor %}
							{% endif %}
							{% endwith %}
						</div>
					</div>
					<div class="col-lg-7 col-xl-8">
						<div class="container py-4 px-3 mx-auto ">
							<div class="conatct-form-div mb-5 mt-5 mt-lg-0">
								<div id="drop-area">
									<div class="container py-4 px-3 mx-auto ">
										<div class="mb-3">
											<form method="post" enctype="multipart/form-data">
												<label for="file-input" class="form-label">
													<p class="text-white "> فایلتون به صورت عکس وارد کنید</p>
												</label>
												<input class="form-control" type="file" name="file" id="file-input"
													multiple>
												<input type="submit" name="submit"
													class=" btn subimt-messagebtn btn-primary form-control"
													value="ارسال کردن">
											</form>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}